@import '../../../variables';

section.tasks {
  .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .inner-container {
      max-width: 36rem;
      margin: 3rem auto;
      padding: 1rem;
      width: 100%;
    }

    form {
      mat-form-field {
        width: 100%;
      }
    }

    .tasks {
      .task {
        background-color: $bg-light-gray;
        margin-bottom: 1px;
        padding: 1rem;

        span {
          color: $dark-blue;
        }
      }
    }
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}
