<!-- navbar is a class used by bootstrap -->
<section class="top-navbar">
  <div class="container-fluid">
    <div class="row">
      <button mat-button><img src="assets/images/avant-logo.png" height="30" alt="AvantLink"></button>

      <div class="main-menu">
        <button mat-button *ngFor="let item of menuItems" [routerLink]="[item.path]" [routerLinkActive]="['active']">{{ item.label }}</button>
      </div>

      <span class="fill-remaining-space"></span>

      <button mat-button [matMenuTriggerFor]="menu">joesoutdoorsupply.com <mat-icon>arrow_drop_down</mat-icon></button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Account Settings</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>

      <button mat-button aria-label="Credits">
        <mat-icon>monetization_on</mat-icon>
      </button>

      <button mat-button aria-label="Notifications">
        <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
      </button>

      <button mat-button aria-label="Settings">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</section>
